table {
   border-collapse: collapse;
   border: 3px solid grey;
}

th {
   border: 1px solid grey;
}

td {
  border: 1px solid grey;
}

th, td {
   border: 1px solid grey;
}

table {
   width: 600px;
}
th {
   width: 10%;
}
td:first-child {
   width: 10%;
}

